<pyrest>
	<objects>
		<namespace name="genome" >
			<object name="Identifier" /> <!-- only used for GeneTreeMember -->
			<object name="Sequence" />
			<object name="Feature" />
			<object name="ExonFeature" base_class="Feature" />
			<object name="TranslationFeature" base_class="Feature" />
			<object name="TranscriptFeature" base_class="Feature" >
				<property name="Translation" object="TranslationFeature" />
				<property name="Exon" object="ExonFeature" />
			</object>
			<object name="GeneFeature" base_class="Feature" >
				<property name="Transcript" object="TranscriptFeature" />
			</object>
			<object name="Location" />
			<object name="CoordMapping" >
				<property name="mapped" object="Location" />
				<property name="original" object="Location" />
			</object>
		</namespace>
		<namespace name="info" >
			<object name="SeqRegion" />
			<object name="Assembly" >
				<property name="top_level_region" object="SeqRegion" />
			</object>
			<object name="ArchiveEntry" />
			<object name="Species" />
			<object name="ExternalDatabase" />
			<object name="Biotype" />
			<object name="OntologyTerm" >
				<property name="children" object="OntologyTerm" />
				<property name="parents" object="OntologyTerm" />
			</object>
			<object name="OntologyEntry" >
				<property name="is_a" object="OntologyTerm" />
				<property name="term" object="OntologyTerm" />
			</object>
		</namespace>
		<namespace name="compara" >

			<object name="NCBITaxon" description="A node in the NCBI taxonomy" >
				<property name="parent" description="Parent node in the taxonomy" getter="_tax_parent" object="NCBITaxon" />
				<property name="children" description="Child nodes in the taxonomy" getter="_tax_children" object="NCBITaxon" />
				<property name="tags" description="Additionnal tags" object="None" />
			</object>

			<!-- Gene trees -->
			<object name="GeneTreeMember" description="A leaf of a gene-tree, i.e. a protein / gene" >
				<property name="id" description="Protein / transcript identifier" object=".genome.Identifier" />
				<property name="mol_seq" description="DNA / protein sequence" object=".genome.Sequence" />
			</object>

			<!-- useless -->
			<object name="GeneTreeEvent" description="The evolutionary event that took place at this node of the tree" />

			<object name="GeneTreeNode" description="Node in a gene-tree" >
				<property name="taxonomy" description="Taxonomy annotation of this node" object="NCBITaxon" />
				<property name="children" description="Child nodes in the gene-tree" object="GeneTreeNode" />
				<property name="confidence" description="The confidence tags attached to a given gene-tree node" object="None" />
				<property name="id" description="Gene identifier (only for leaves)" object=".genome.Identifier" />
				<property name="events" description="The evolutionary event that took place at this node" object="GeneTreeEvent" />
				<property name="sequence" description="GeneTreeMember (only for leaves)" object="GeneTreeMember" />
			</object>

			<object name="GeneTree" description="Global object for gene-trees" >
				<property name="tree" description="root node" object="GeneTreeNode" />
				<property name="id" description="GeneTree stable identifier" />
			</object>

			<object name="MethodLinkSpeciesSet" />

			<!-- Homologies -->
			<object name="Homolog" />
			<object name="HomologyPair" description="Homology pair" >
				<property name="target" description="Paralog of the query gene / Ortholog in the other species" object="Homolog" />
				<property name="source" description="Query gene" object="Homolog" />
			</object>
			<object name="HomologyGroup" description="Group of multiple homology-pairs" >
				<property name="homologies" description="All the homology pairs" object="HomologyPair" />
			</object>

			<!-- Genomic alignments -->
			<object name="GenomicAlignmentEntry" />
			<object name="GenomicAlignment" >
				<property name="alignments" descriptions="All the alignment-bloks for this query region" object="GenomicAlignmentEntry" />
			</object>

		</namespace>
		<namespace name="funcgen">
			<object name="RegulatoryFeature" />
		</namespace>

		<namespace name="variation">
			<object name="AlleleLocation" base_class=".genome.Location" />
			<object name="Genotype" />
			<object name="PopulationGenotype" />
			<object name="PopulationAllele" />
			<object name="Variation" >
				<property name="population_genotypes" object="PopulationGenotype" />
				<property name="populations" object="PopulationAllele" />
				<property name="genotypes" object="Genotype" />
				<property name="mappings" object="AlleleLocation" />
			</object>

			<object name="Consequence" />
			<object name="Variant" />
			<object name="VEPResult" >
				<property name="colocated_variants" object="Variant" />
				<property name="transcript_consequences" object="Consequence" />
			</object>
		</namespace>
	</objects>

	<endpoints>
		<!-- archive.conf -->
		<endpoint id="archive_id_get" name="getArchiveEntry" object="info.ArchiveEntry" />

		<!-- assembly.conf -->
		<endpoint id="assembly_info" name="getAssemblyInfo" object="info.Assembly" />
		<endpoint id="assembly_stats" name="getAssemblyInfoRegion" object="info.SeqRegion" />

		<!-- compara,conf -->
		<endpoint id="genetree" name="getGeneTreeById" object="compara.GeneTree" />
		<endpoint id="genetree_member_id" name="getGeneTreeByMemberId" object="compara.GeneTree" />
		<endpoint id="genetree_member_symbol" name="getGeneTreeByMemberSymbol" object="compara.GeneTree" />
		<endpoint id="homology_symbol" name="getHomologyByGeneSymbol" object="compara.HomologyGroup" accessor="data" />
		<endpoint id="homology_ensemblgene" name="getHomologyByGeneStableID" object="compara.HomologyGroup" accessor="data" />
		<endpoint id="genomic_alignment_region" name="getGenomicAlignmentByRegion" object="compara.GenomicAlignment" />

		<!-- info.conf -->
		<endpoint id="ping" name="ping" accessor="ping" />
		<endpoint id="species" name="listSpecies" accessor="species" object="info.Species" />
		<endpoint id="comparas" name="listComparaDatabases" accessor="comparas" />
		<endpoint id="software" name="ensembl_version" accessor="release" />
		<endpoint id="rest" name="rest_version" accessor="release" />
		<endpoint id="data" name="listAvailableReleases" accessor="releases" />
		<endpoint id="analysis" name="getAnalysisList" />
		<endpoint id="biotypes" name="getBiotypesBySpecies" object="info.Biotype" />
		<endpoint id="external_dbs" name="getExternalDatabasesBySpecies" object="info.ExternalDatabase" />
		<endpoint id="compara_methods" name="getAllComparaMethods" />
		<endpoint id="compara_species_sets" name="getSpeciesSetByComparaMethod" object="compara.MethodLinkSpeciesSet" />

		<!-- lookup.conf -->
		<endpoint id="lookup" name="lookupIdentifier" object="genome.feature_wrapper" />
		<endpoint id="symbol_lookup" name="lookupGeneSymbol" object="genome.feature_wrapper" />

		<!-- map.conf -->
		<endpoint id="assembly_map" name="mapCoordinatesBetweenAssemblies" object="genome.CoordMapping" accessor="mappings" />
		<endpoint id="assembly_cdna" name="mapCDNACoordinatesToGenome" object="genome.Location" accessor="mappings" />
		<endpoint id="assembly_cds" name="mapCDSCoordinatesToGenome" object="genome.Location" accessor="mappings" />
		<endpoint id="assembly_translation" name="mapProteinCoordinatesToGenome" object="genome.Location" accessor="mappings" />

		<!-- ontology.conf -->
		<endpoint id="ontology_id" name="getOntologyByID" object="info.OntologyTerm" />
		<endpoint id="ontology_name" name="getOntologyByName" object="info.OntologyTerm" />
		<endpoint id="ontology_ancestors" name="getAllAncestorsOfOntologyID" object="info.OntologyTerm" />
		<endpoint id="ontology_descendants" name="getAllDescendantsOfOntologyID" object="info.OntologyTerm" />
		<endpoint id="ontology_ancestors_chart" name="getOntologyAncestorChart" object="dict_wrapper(ensembl.info.OntologyEntry)"/>

		<!-- overlap.conf -->
		<endpoint id="overlap_id" name="getAllFeaturesOnFeatureID" object="genome.feature_wrapper" />
		<endpoint id="overlap_region" name="getAllFeaturesOnRegion" object="genome.feature_wrapper" />
		<endpoint id="overlap_translation" name="getAllFeaturesOnTranslation" object="genome.feature_wrapper" />

		<!-- regulatory.conf -->
		<endpoint id="regulatory_id" name="getRegulatoryFeatureByID" object="funcgen.RegulatoryFeature" />

		<!-- sequence.conf -->
		<endpoint id="sequence_id" name="getFeatureSequenceByID" object="genome.Sequence" />
		<endpoint id="sequence_region" name="getSequenceOfRegion" object="genome.Sequence" />

		<!-- taxonomy.conf -->
		<endpoint id="taxonomy_id" name="getTaxonomyEntryByID" object="compara.NCBITaxon" />
		<endpoint id="taxonomy_classification" name="getTaxonomyClassificationByID" object="compara.NCBITaxon" />
		<endpoint id="taxonomy_name" name="getTaxonomyEntryByName" object="compara.NCBITaxon" />

		<!-- variation.conf -->
		<endpoint id="variation_id" name="getVariationByID" object="variation.Variation" />

		<!-- vep.conf -->
		<endpoint id="vep_region_get" name="getVariantConsequencesByRegionAllele" object="variation.VEPResult" />
		<endpoint id="vep_id_get" name="getVariantConsequencesByVariationID" object="variation.VEPResult" />
		<endpoint id="vep_hgvs_get" name="getVariantConsequencesByHGVS" object="variation.VEPResult" />

	</endpoints>
	<content_types>
		<content_type alias="bed" mime="text/x-bed" />
		<content_type alias="fasta" mime="text/x-fasta" />
		<content_type alias="gff3" mime="text/x-gff3" />
		<content_type alias="json" mime="application/json" />
		<content_type alias="nh" mime="text/x-nh" />
		<content_type alias="phyloxml" mime="text/x-phyloxml+xml" />
		<content_type alias="xml" mime="text/xml" />
		<content_type alias="yaml" mime="text/x-yaml" />
		<content_type alias="text" mime="text/plain" />
	</content_types>
	<response_codes>
		<response_code code="200" title="OK" description="Request was a success" />
		<response_code code="400" title="Bad Request" description="Occurs during exceptional circumstances such as the service is unable to find an ID" />
		<response_code code="404" title="Not Found" description="Indicates a badly formatted request. Check your URL" />
		<response_code code="429" title="Too Many Requests" description="You have been rate-limited; wait and retry" />
		<response_code code="503" title="Service Unavailable" description="The service is temporarily down; retry after a pause" />
	</response_codes>
</pyrest>
