<pyrest>
	<objects>
		<namespace name="genome" >
			<object name="Identifier" />
			<object name="Sequence" />
			<object name="Feature" />
			<object name="GeneFeature" base_class="/Feature" />
			<object name="TranscriptFeature" base_class="/Feature" />
			<object name="TranslationFeature" base_class="/Feature" />
			<object name="ExonFeature" base_class="/Feature" />
			<object name="CoordMapping" />
			<object name="Location" />
		</namespace>
		<namespace name="info" >
			<object name="Assembly" />
			<object name="SeqRegion" />
			<object name="ArchiveEntry" />
			<object name="Species" />
			<object name="ExternalDatabase" />
			<object name="Biotype" />
			<object name="OntologyTerm" />
			<object name="OntologyEntry" />
		</namespace>
		<namespace name="compara" >

			<object name="GeneTree" description="Global object for gene-trees" >
				<property name="id" description="GeneTree stable identifier" />
			</object>
			<object name="GeneTreeNode" description="Node in a gene-tree" />
			<object name="GeneTreeNodeConfidence" description="The confidence tags attached to a given gene-tree node" />
			<object name="GeneTreeMember" description="Used in gene-tree leaves to show the actual protein that was used to build the tree" />
			<object name="GeneTreeEvent" description="The evolutionary event that took place at this node of the tree" />
			<object name="NCBITaxon" description="A node in the NCBI taxonomy" >
				<property name="parent" description="Parent node in the taxonomy" getter="_tax_parent" />
			</object>

			<object name="MethodLinkSpeciesSet" />

			<object name="HomologyGroup" description="Group of multiple homology-pairs" />
			<object name="HomologyPair" description="Homology pair" />
			<object name="Homolog" />
			<object name="GenomicAlignment" />
			<object name="GenomicAlignmentEntry" />

		</namespace>
		<namespace name="funcgen">
			<object name="RegulatoryFeature" />
		</namespace>

		<namespace name="variation">
			<object name="Variation" />
			<object name="AlleleLocation" base_class="genome.Location" />
			<object name="Genotype" />
			<object name="PopulationGenotype" />
			<object name="PopulationAllele" />
		</namespace>
	</objects>
	<object_links>
		<link src="info.Assembly" key="top_level_region" target="info.SeqRegion" />
		<link src="info.OntologyTerm" key="children" target="info.OntologyTerm" />
		<link src="info.OntologyTerm" key="parents" target="info.OntologyTerm" />
		<link src="info.OntologyEntry" key="is_a" target="info.OntologyTerm" />
		<link src="info.OntologyEntry" key="term" target="info.OntologyTerm" />
		<link src="compara.GeneTree" key="tree" target="compara.GeneTreeNode" />
		<link src="compara.GeneTreeNode" key="taxonomy" target="compara.NCBITaxon" />
		<link src="compara.GeneTreeNode" key="events" target="compara.GeneTreeEvent" />
		<link src="compara.GeneTreeNode" key="confidence" target="compara.GeneTreeNodeConfidence" />
		<link src="compara.GeneTreeNode" key="children" target="compara.GeneTreeNode" />
		<link src="compara.GeneTreeNode" key="sequence" target="compara.GeneTreeMember" />
		<link src="compara.GeneTreeNode" key="id" target="genome.Identifier" />
		<link src="compara.GeneTreeMember" key="id" target="genome.Identifier" />
		<link src="compara.GeneTreeMember" key="mol_seq" target="genome.Sequence" />
		<link src="compara.HomologyGroup" key="homologies" target="compara.HomologyPair" />
		<link src="compara.HomologyPair" key="target" target="compara.Homolog" />
		<link src="compara.HomologyPair" key="source" target="compara.Homolog" />
		<link src="compara.GenomicAlignment" key="alignments" target="compara.GenomicAlignmentEntry" />
		<link src="compara.NCBITaxon" key="children" target="compara.NCBITaxon" />
		<link src="compara.NCBITaxon" key="parent" target="compara.NCBITaxon" />
		<link src="compara.NCBITaxon" key="tags" target="/None" />
		<link src="genome.GeneFeature" key="Transcript" target="genome.TranscriptFeature" />
		<link src="genome.TranscriptFeature" key="Translation" target="genome.TranslationFeature" />
		<link src="genome.TranscriptFeature" key="Exon" target="genome.ExonFeature" />
		<link src="genome.CoordMapping" key="mapped" target="genome.Location" />
		<link src="genome.CoordMapping" key="original" target="genome.Location" />
		<link src="variation.Variation" key="population_genotypes" target="variation.PopulationGenotype" />
		<link src="variation.Variation" key="populations" target="variation.PopulationAllele" />
		<link src="variation.Variation" key="genotypes" target="variation.Genotype" />
		<link src="variation.Variation" key="mappings" target="variation.AlleleLocation" />
	</object_links>
	<endpoints>
		<!-- archive.conf -->
		<endpoint id="archive_id_get" name="getArchiveEntry" object="info.ArchiveEntry" />

		<!-- assembly.conf -->
		<endpoint id="assembly_info" name="getAssemblyInfo" object="info.Assembly" />
		<endpoint id="assembly_stats" name="getAssemblyInfoRegion" object="info.SeqRegion" />

		<!-- compara,conf -->
		<endpoint id="genetree" name="getGeneTreeById" object="compara.GeneTree" />
		<endpoint id="genetree_member_id" name="getGeneTreeByMemberId" object="compara.GeneTree" />
		<endpoint id="genetree_member_symbol" name="getGeneTreeByMemberSymbol" object="compara.GeneTree" />
		<endpoint id="homology_symbol" name="getHomologyByGeneSymbol" object="compara.HomologyGroup" accessor="data" />
		<endpoint id="homology_ensemblgene" name="getHomologyByGeneStableID" object="compara.HomologyGroup" accessor="data" />
		<endpoint id="genomic_alignment_region" name="getGenomicAlignmentByRegion" object="compara.GenomicAlignment" />

		<!-- info.conf -->
		<endpoint id="ping" name="ping" accessor="ping" />
		<endpoint id="species" name="listSpecies" accessor="species" object="info.Species" />
		<endpoint id="comparas" name="listComparaDatabases" accessor="comparas" />
		<endpoint id="software" name="ensembl_version" accessor="release" />
		<endpoint id="rest" name="rest_version" accessor="release" />
		<endpoint id="data" name="listAvailableReleases" accessor="releases" />
		<endpoint id="analysis" name="getAnalysisList" />
		<endpoint id="biotypes" name="getBiotypesBySpecies" object="info.Biotype" />
		<endpoint id="external_dbs" name="getExternalDatabasesBySpecies" object="info.ExternalDatabase" />
		<endpoint id="compara_methods" name="getAllComparaMethods" />
		<endpoint id="compara_species_sets" name="getSpeciesSetByComparaMethod" object="compara.MethodLinkSpeciesSet" />

		<!-- lookup.conf -->
		<endpoint id="lookup" name="lookupIdentifier" object="genome.feature_wrapper" />
		<endpoint id="symbol_lookup" name="lookupGeneSymbol" object="genome.feature_wrapper" />

		<!-- map.conf -->
		<endpoint id="assembly_map" name="mapCoordinatesBetweenAssemblies" object="genome.CoordMapping" accessor="mappings" />
		<endpoint id="assembly_cdna" name="mapCDNACoordinatesToGenome" object="genome.Location" accessor="mappings" />
		<endpoint id="assembly_cds" name="mapCDSCoordinatesToGenome" object="genome.Location" accessor="mappings" />
		<endpoint id="assembly_translation" name="mapProteinCoordinatesToGenome" object="genome.Location" accessor="mappings" />

		<!-- ontology.conf -->
		<endpoint id="ontology_id" name="getOntologyByID" object="info.OntologyTerm" />
		<endpoint id="ontology_name" name="getOntologyByName" object="info.OntologyTerm" />
		<endpoint id="ontology_ancestors" name="getAllAncestorsOfOntologyID" object="info.OntologyTerm" />
		<endpoint id="ontology_descendants" name="getAllDescendantsOfOntologyID" object="info.OntologyTerm" />
		<endpoint id="ontology_ancestors_chart" name="getOntologyAncestorChart" object="dict_wrapper(ensembl.info.OntologyEntry)"/>

		<!-- overlap.conf -->
		<endpoint id="overlap_id" name="getAllFeaturesOnFeatureID" object="genome.feature_wrapper" />
		<endpoint id="overlap_region" name="getAllFeaturesOnRegion" object="genome.feature_wrapper" />
		<endpoint id="overlap_translation" name="getAllFeaturesOnTranslation" object="genome.feature_wrapper" />

		<!-- regulatory.conf -->
		<endpoint id="regulatory_id" name="getRegulatoryFeatureByID" object="funcgen.RegulatoryFeature" />

		<!-- sequence.conf -->
		<endpoint id="sequence_id" name="getFeatureSequenceByID" object="genome.Sequence" />
		<endpoint id="sequence_region" name="getSequenceOfRegion" object="genome.Sequence" />

		<!-- taxonomy.conf -->
		<endpoint id="taxonomy_id" name="getTaxonomyEntryByID" object="compara.NCBITaxon" />
		<endpoint id="taxonomy_classification" name="getTaxonomyClassificationByID" object="compara.NCBITaxon" />
		<endpoint id="taxonomy_name" name="getTaxonomyEntryByName" object="compara.NCBITaxon" />

		<!-- variation.conf -->
		<endpoint id="variation_id" name="getVariationByID" object="variation.Variation" />

		<!-- vep.conf -->
		<!--<endpoint id="vep_region_get" name="getVariantConsequencesByRegionAllele" object="" />-->
		<!--<endpoint id="vep_id_get" name="getVariantConsequencesByVariationID" object="" />-->
		<!--<endpoint id="vep_hgvs_get" name="getVariantConsequencesByHGVS" object="" />-->

	</endpoints>
	<content_types>
		<content_type alias="bed" mime="text/x-bed" />
		<content_type alias="fasta" mime="text/x-fasta" />
		<content_type alias="gff3" mime="text/x-gff3" />
		<content_type alias="json" mime="application/json" />
		<content_type alias="nh" mime="text/x-nh" />
		<content_type alias="phyloxml" mime="text/x-phyloxml+xml" />
		<content_type alias="xml" mime="text/xml" />
		<content_type alias="yaml" mime="text/x-yaml" />
		<content_type alias="text" mime="text/plain" />
	</content_types>
	<rate_limiters>
		<rate_limiter period='1' max_requests='6' />
		<rate_limiter period='3600' max_requests='11100' />
	</rate_limiters>
	<response_codes>
		<response_code code="200" title="OK" description="Request was a success" />
		<response_code code="400" title="Bad Request" description="Occurs during exceptional circumstances such as the service is unable to find an ID" />
		<response_code code="404" title="Not Found" description="Indicates a badly formatted request. Check your URL" />
		<response_code code="429" title="Too Many Requests" description="You have been rate-limited; wait and retry" />
		<response_code code="503" title="Service Unavailable" description="The service is temporarily down; retry after a pause" />
	</response_codes>
</pyrest>
